@font-face {
  font-family: "sigmar-regular";
  src: url("assets/Rubik-VariableFont_wght.ttf");
  font-weight: 900;
  font-style: normal;
}

body {
  color: #e9dabd;
  background-image: url("/assets/Untitled_Artwork.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  font-family: sigmar-regular, Impact, "Arial Narrow Bold", sans-serif;
}

h1 {
  -webkit-text-stroke: 2px #684e1b;
  font-size: clamp(2rem, 8vw, 6.25rem);
  letter-spacing: 3px;
  margin: 0;
}

h2 {
  -webkit-text-stroke: 2px #684e1b;
  font-size: clamp(1.5rem, 5vw, 3rem);
  margin: 0;
}
h3 {
  -webkit-text-stroke: 1px #684e1b;
  font-size: clamp(1.3rem, 4.5vw, 2.8rem);
  letter-spacing: 2px;
  margin: 0;
}
p {
  margin: 0 100px;
  font-size: clamp(1.3rem, 4.5vw, 2.8rem);
  -webkit-text-stroke: 1px #684e1b;
  letter-spacing: 2px;
}
button {
  display: block;
  font-family: sigmar-regular, Impact, "Arial Narrow Bold", sans-serif;
  font-size: clamp(1rem, 3vw, 1.8rem);
  letter-spacing: 2px;
  color: #4c4027;
  background-color: #e9dabd;
  border: 4px solid #4c4027;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: clamp(200px, 50vw, 350px);
  padding: 10px 0;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.score-box {
  display: flex;
  justify-content: space-between;
  background-color: #684e1b;
  border: 5px solid #4c4027;
  border-radius: 5px;
  padding: clamp(0.5rem, 2vw, 1.5rem);
}

.score-box h3 {
  -webkit-text-stroke: 1px #684e1b;
  font-size: clamp(0.1rem, 3vw, 3rem);
  letter-spacing: 2px;
  margin: 0;
}
.score-counter {
  color: #fcad91;
}

.bird-img {
  width: clamp(200px, 40vw, 320px);
  height: auto;
  display: block;
  margin: 50px auto;
  padding: 15px;
  background-color: #e9dabd;
  border: 3px solid #4c4027;
  border-radius: 5px;
}

.options-container {
  display: block;
}
.options-container button {
  width: 12em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
  margin: 5px;
}
.options-row {
  display: flex;
  justify-content: center;
}
figcaption {
  line-height: -1;
  font-size: clamp(0.6rem, 2vw, 1rem);
}
.credits-section-paragraph a,
.bird-img-caption a {
  color: #684e1b;
  transition: all 200ms ease-in-out;
}

.credits-section-paragraph a:hover,
.bird-img-caption a:hover {
  color: #16a853;
}
.game-page {
  padding: 10px 50px;
}
.start-page,
.game-over {
  padding: 50px 50px;
}
.game-name-heading,
.game-over-heading {
  text-align: center;
}
.highscore,
.final-score {
  text-align: center;
}
.btn-container {
  position: relative;
  top: 100px;
}
.exit-about-btn {
  font-size: clamp(0.9rem, 2.5vw, 1.3rem);
  width: clamp(100px, 50vw, 200px);
}
.about-and-credits {
  margin: 0 auto;
  max-width: clamp(300px, 90vw, 800px);
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: clamp(1rem, 5vw, 3rem);
}

.about-and-credits div {
  margin-bottom: 50px;
  background-color: #e9dabd5d;
  border-radius: 20px;
  padding: 25px 0;
}
.about-and-credits p {
  font-size: clamp(0.75rem, 2.5vw, 1.3rem);
}

.modal {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: clamp(150px, 40vw, 300px);
  width: clamp(250px, 80vw, 600px);
  padding: clamp(1rem, 4vw, 2rem);
  background: #e9dabdd8;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.modal h2 {
  -webkit-text-stroke: 2px rgba(57, 57, 57, 0.607);
  font-size: clamp(2rem, 2.5vw, 1.6rem);
  margin: 0 0 10px 0;
}
.modal p {
  font-size: clamp(1.5rem, 2vw, 3rem);
  margin: 10px 20px 20px 20px;
  line-height: 1.2;
}

.next-bird-btn,
.game-over-btn {
  font-size: clamp(0.9rem, 2.5vw, 1.3rem);
  width: fit-content;
  padding: 10px 20px;
  margin: auto auto 0 auto;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .about-section,
  .credits-section {
    margin: 0;
    overflow: auto;
  }

  .about-section-paragraph,
  .credits-section-paragraph {
    text-align: left;
    margin: 1vw 5vw;
  }
  .next-bird-btn {
    font-size: clamp(0.7rem, 2.5vw, 1.3rem);
    padding: 8px 10px;
    margin-bottom: 10px;
  }
  .modal p {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    margin: 1.5vw;
  }
  .option-btn {
    font-size: clamp(0.6rem, 2.5vw, 1.3rem);
    padding: 20px !important;
  }
}
