@font-face {
  font-family: "sigmar-regular";
  src: url("assets/Sigmar-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #e9dabd;
  background-color: #e9dabd;
  font-family: sigmar-regular, Impact, "Arial Narrow Bold", sans-serif;
}
.start-page {
  margin: 0;
  padding: 0 30px;
}

h1 {
  -webkit-text-stroke: 2px #684e1b;
  font-size: 100px;
  letter-spacing: 3px;
  margin: 0;
}
h3 {
  -webkit-text-stroke: 1px #684e1b;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0;
}

button {
  display: block;
  font-family: sigmar-regular, Impact, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  color: #e9dabd;
  background-color: #684e1b;
  border: 4px solid #4c4027;
  margin: 5px;
  width: 200px;
  height: 40px;
}

button:hover {
  cursor: pointer;
}
.start-game-btn,
.play-again-btn,
.home-btn {
  font-size: 20px;
}
.about-game-btn {
  font-size: 13px;
}

.score-box {
  display: flex;
  justify-content: space-between;
  background-color: #684e1b;
  border: 5px solid #4c4027;
  padding: 0 10px;
}

.bird-img {
  display: block;
  margin: 50px auto 30px auto;
  padding: 10px;
  background-color: #684e1b;
  border: 5px solid #4c4027;
}

.options-container {
  display: block;
}
.options-container button {
  width: 250px;
}
.options-row {
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
